body {
  overflow: hidden;

  .n {
    position: absolute;
    top: 100px;
    width: 200px;
    height: 10px;
    background-color: blueviolet;
  }

  .n1 {
    top: 200px;
  }

  .n2 {
    top: 300px;
  }

  .n3 {
    top: 400px;
  }

  .n4 {
    top: 500px;
  }

  #block {
    height: 100px;
    width: 100px;
    background: peru;
    position: absolute;
    z-index: 100;
  }

  canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    // pointer-events: none;
  }
}
