body {
  overflow: hidden;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  background-color: #eeeeee;

  .n {
    position: absolute;
    top: 300px;
    left: 0;
    // width: 200px;
    // height: 30px;
    // background-color: blueviolet;
  }

  .n1 {
    top: 400px;
  }

  .n2 {
    top: 500px;
  }

  .n3 {
    top: 600px;
  }

  .n4 {
    top: 700px;
  }

  img {
    display: none;
  }

  // #block {
  //   height: 100px;
  //   width: 100px;
  //   background: peru;
  //   position: absolute;
  //   z-index: 100;
  // }

  #canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 300px;
    z-index: -1;
    pointer-events: none;
  }
}
